# domain configuration
DOMAIN_NAME=
SUBDOMAIN=
GENERIC_TIMEZONE=
SSL_EMAIL=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# n8n security
N8N_ENCRYPTION_KEY=
N8N_USER_MANAGEMENT_JWT_SECRET=

# GDPR
N8N_EXECUTIONS_DATA_PRUNE=true
N8N_EXECUTIONS_DATA_MAX_AGE=
N8N_EXECUTIONS_DATA_SAVE_SUCCESS=none